<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Date Picker
            <small>https://github.com/g00fy-/angular-datepicker</small>
        </h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <h3>
            Date picker
        </h3>

        <p>
            Simple and easy select a time for a text input using your mouse.
        </p>

        <button class="btn btn-outline btn-primary">Click Me</button>
        <div class="form-group" id="data_1">
            <label class="font-normal">Simple date input format</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" bsDatepicker ng-model="sampleDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_2">
            <label class="font-normal">One Year view</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" bsDatetimer ng-model="sampleDate" view="year" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_4">
            <label class="font-normal">Month select</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="month" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_3">
            <label class="font-normal">Hours view</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="hours" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>


        <div class="form-group" id="data_5">
            <label class="font-normal">Range select</label>

            <div uib-dropdown>
                <a class="btn btn-primary btn-sm" uib-dropdown-toggle>
                    Select range
                </a>
                <div>
                <span>
                    <!-- Selected date: <br/> {{(a|date)}} - {{(b|date)}} -->
                </span>
                </div>
                <div uib-dropdown-menu="" ng-click="$event.preventDefault();$event.stopPropagation()">
                    <div date-range start="a" end="b" auto-close="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>

   
</div>

